global
    daemon
    maxconn 1024
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    option forwardfor
    option redispatch
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    retries 3

frontend http-in
    bind *:80
    default_backend web-heads

backend web-heads
    balance roundrobin
    option httpchk GET /
    http-check expect rstatus [2-4][0-9][0-9]
    server web1 web1:80 check inter 5s fall 2 rise 3
    server web2 web2:80 check inter 5s fall 2 rise 3
    server web3 web3:80 check inter 5s fall 2 rise 3
    server web4 web4:80 check inter 5s fall 2 rise 3
